* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --text-color: #000;
  --main-bg-color: #ffffff;
  --bg-color: #ff4522;
  --font-color: #303134;
  --big-font: 50px;
  --mid-font: 18px;
  --lg-font: 35px;
  --p-font: 16px;
  --bt-font: 20px;
}
body.color {
  --text-color: #fff;
  --main-bg-color: #000;
}
.nav-icon .btn {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}
.nav-icon .btn:hover {
  color: var(--bg-color);
  transform: scale(1.1);
  text-decoration: underline var(--bg-color);
}
.nav-icon .btn,
a:active {
  border: none;
}

#header .navbar {
  background-color: var(--main-bg-color);
}
#header .navbar .navbar-nav {
  width: 52%;
}

#header .navbar .navbar-nav .nav-link {
  color: var(--text-color);
  font-size: var(--p-font);
  text-transform: capitalize;
  letter-spacing: 0.2px;
  /* transition: all 0.42s; */
}
#header .navbar .navbar-nav a.active {
  color: var(--bg-color);
}
#header .navbar .navbar-nav .nav-link:hover {
  color: var(--bg-color);
}
#home .row .img_sec img {
  width: 35vw;
}
#home .row > div:first-child h4,
h1 span {
  color: var(--bg-color);
}
.home-btn1 {
  display: flex;
  align-items: center;
}
.home-btn .btn1 {
  display: inline-block;
  color: #fff;
  font-size: var(--p-font);
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.5px;
  border: 2px solid var(--bg-color);
  background: var(--bg-color);
  padding: 10px 30px;
  border-radius: 30px;
  margin-right: 20px;
  transition: all 0.42s;
  text-decoration: none;
}
.home-btn .btn1:hover {
  background: transparent;
  color: var(--text-color);
}

.home-btn .btn2 {
  display: inline-block;
  color: var(--text-color);
  font-size: var(--p-font);
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.5px;
  border: 2px solid var(--bg-color);
  padding: 10px 30px;
  border-radius: 30px;
  margin-right: 20px;
  transition: all 0.42s;
  text-decoration: none;
}
.home-btn .btn2:hover {
  background: var(--bg-color);
  color: var(--main-bg-color);
}
#projects_sec .card-title {
  font-weight: 550;
}
#projects_sec .card-image img {
  width: 300px;
  height: 150px;
  /* border: 3px solid gold; */
  border-radius: 5px;
}

#about .row > div img {
  width: 25vw;
}

#about .row > div h2 > span,
.section__title span {
  color: var(--bg-color);
}
#about .row > div h4 {
  font-size: 16px;
}
.card {
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: rgba(239 178 53 / 79%) 0px 7px 16px 4px;
}

.card-image {
  width: 100%;
  height: 150px;
  background-image: url("https://via.placeholder.com/300x150"); /* Replace with your own background image URL */
  background-size: cover;
  background-position: center;
}

#home .social-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #333;
  transition: transform 0.6s ease;
  transform: translateY(8px);
}

#home .social-icons a:hover {
  transform: scale(1.2);
}

#skill .container .row a {
  background-color: var(--bg-color);
  color: white;
  padding: 8px 16px;
  border: 2px solid var(--bg-color);
  border-radius: 6px;
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}
#skill .container .row a:hover {
  background-color: transparent;
  color: var(--bg-color);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer__details {
  font-size: 0.8rem;
  color: #9ca3af;
  margin: 2rem 0;
  display: grid;
  gap: 1rem;
}

.social__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social__icons .icon {
  padding: 0.5rem;
  border-radius: 5px;
  color: #ffffff;
  background-color: var(--bg-color);
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.social__icons .icon:hover {
  background-color: var(--bg-color);
  transform: scale(1.2);
}

.footer__form {
  display: grid;
  gap: 1rem;
}

.footer__form :is(input, textarea) {
  padding: 1rem;
  background-color: #0d1319;
  outline: none;
  /* border: 2px solid var(--bg-color); */
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
}

.footer__form textarea {
  resize: none;
  font-family: "Poppins", sans-serif;
}

.footer__form button {
  width: max-content;
}
#contact .btn {
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: 0.3s;
}

#contact .btn:hover {
  background-color: var(--bg-color);
}

footer {
  text-align: center;
  margin-top: 20px;
}

.copyright {
  border-top: 1px solid #ccc;
  padding: 10px 0;
}
